body {
	text-align: center;
}

h4 {
	padding-top: 10px;
}

#category {
	font-size: 30px;
}

#login-display {
	margin-right: 10px;
	font-size: 20px;
}

#login {
	padding-top: 10px;
}

#title {
	font-size: 50px;
}

#flash-list li {
	list-style-type: none;
	color: rgb(241, 255, 31);
}