{% extends "category.html" %}
{% block specific %}
<form class="navbar-form" action="{{ url_for('addInstrument', category_id=category.id) }}" method='post'>
	<div class="form-group">
		New Instrument: <br><br>
		Name: <br>
		<input class="form-control" type="text" name="name"> <br>
		<textarea class="form-control" name="description" placeholder="description goes here"></textarea> <br>
		Brand: <br>
		<input class="form-control" type="text" name="brand"> <br>
		Color: <br>
		<input class="form-control" type="text" name="color"> <br>
		<input class="btn btn-default" type="submit">
		<a href="{{ url_for('displayCategory', category_id=category.id) }}">Cancel</a>			
	</div>
</form>
{% endblock %}